bidict==0.21.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dnspython==1.16.0
eventlet==0.30.0
Flask==1.1.2
Flask-SocketIO==4.3.2
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-engineio==3.14.2
python-socketio==4.6.1
requests==2.25.1
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
