.scroll-panel {
    background-color: rgb(240, 198, 61);
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    margin-left: 40px;
    position: relative;
    width: 100px;
}

.scroll-wheel {
    background-color: rgb(238, 160, 14);
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    height: 19px;
    left: -8px;
    position: absolute;
    top: -6px;
    width: 19px;
}

.scroll-panel::before {
    background: url(../img/volume.svg);
    background-size: contain;
    content: ' ';
    cursor: initial;
    display: block;
    height: 25px;
    left: -35px;
    position: relative;
    top: -8px;
    width: 25px;
}